.options {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    margin-left: 0;
    padding: 0;

}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
}

.ques-container {
    background-color: #6caefe;
    /* background-color: #6caefe; */
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
    gap: 15px;
}

.single-question {
    background-color: #14447f;

}