.options {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    margin-left: 0;
    padding: 0;

}

.quest {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
}

.ques-container {
    background-color: #6caefe;
    /* background-color: #6caefe; */
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
    gap: 15px;
}

.single-question {
    background-color: #14447f;

}


/* for-small-devices*/
@media (min-width: 320px) and (max-width : 768px) {

    .quest {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        font-size: 18px;

    }


    .options {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        justify-content: center;
        margin-left: 50%;
        margin-right: 50%;
        font-size: 12px;

    }

    .option {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        justify-content: center;
        margin-left: 50%;
        margin-right: 50%;
        font-size: 12px;


    }
}

/* for-tablet-devices */

@media (min-width: 769px) and (max-width : 1200px) {
    .options {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        margin-left: 0;
        padding: 0;

    }
}