.options {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    margin-left: 0;
    padding: 0;

}

.quiz-container {
    background-color: #b0eaf5;
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
}

.ques-container {
    background-color: #e5f5f8;
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
    gap: 15px;
}