@media (min-width: 320px) and (max-width:768px) {
    .bar2 {
        width: 25px;
        height: 12px;
        justify-content: center;
        overflow-x: hidden;
    }

}

/* for-tablet-devices */

@media (min-width: 769px) and (max-width : 1200px) {

    .bar2 {
        width: 75px;
        height: 44px;
        overflow-x: hidden;
    }
}